{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ entry_name }}
{% endblock %}

{% block body %}
<h1>Edit the entry for {{ entry_name }}</h1>
    
<form action="{% url 'edit' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="title" autofocus autocomplete="off" value="{{ entry_name }}">
    <textarea id="entrytext" name="entrytext" rows="10" style="height:100%;">{{ entry_text }}</textarea>
    <br>
    {% if alarm %}
    <div class="alert alert-danger" role="alert">{{ alarm }}</div>
    {% endif %}
    <br>
    <button type="submit">Save</button>
</form>

{% endblock %}